
@model Fachada.AdicionarClienteViewModel


<!DOCTYPE html>

<head>
    <title>Actualizar cliente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<body style="background-color: #ffffff">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-sm-12" align="center">
                    <h2>Actualizar cliente</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="cedulaCliente">Cedula</label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
                                </div>
                                @{
                                    if (@ViewData["MensajeCedula"] != null)
                                    {
                                        <p class="alert alert-danger"> @ViewData["MensajeCedula"]</p>
                                    }
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="nombreCliente">Nombre</label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                </div>
                                @{
                                    if (@ViewData["MensajeNombre"] != null)
                                    {
                                        <p class="alert alert-danger"> @ViewData["MensajeNombre"]</p>
                                    }
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="apellidoCliente">Apellido</label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                                </div>
                                @{
                                    if (@ViewData["MensajeApellido"] != null)
                                    {
                                        <p class="alert alert-danger"> @ViewData["MensajeApellido"]</p>
                                    }
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="fechaNacimientoCliente">Fecha de nacimiento</label>
                                <div class="col-sm-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-sm-12">
                                        @Html.EditorFor(model => model.fechaDeNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "datepicker" } })
                                        @Html.ValidationMessageFor(model => model.fechaDeNacimiento, "", new { @class = "text-danger" })
                                    </div>
                                    <script>
                                        $('#datepicker').datepicker({
                                            uiLibrary: 'bootstrap4'
                                        });
                                    </script>
                                    @{
                                        if (@ViewData["MensajeFecha"] != null)
                                        {
                                            <p class="alert alert-danger"> @ViewData["MensajeFecha"]</p>
                                        }
                                    }
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="correoCliente">Correo</label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                                </div>
                                @{
                                    if (@ViewData["MensajeCorreo"] != null)
                                    {
                                        <p class="alert alert-danger"> @ViewData["MensajeCorreo"]</p>
                                    }
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="contraseñaCliente">Contraseña</label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                                </div>
                                @{
                                    if (@ViewData["MensajeContraseña"] != null)
                                    {
                                        <p class="alert alert-danger"> @ViewData["MensajeContraseña"]</p>
                                    }
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="repetirContraseñaCliente">Repetir contraseña</label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.contraseña2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.contraseña2, "", new { @class = "text-danger" })
                                </div>
                                @{
                                    if (@ViewData["MensajeContraseña2"] != null)
                                    {
                                        <p class="alert alert-danger"> @ViewData["MensajeContraseña2"]</p>
                                    }
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        </fieldset>
                        <br />
                        <br />
                        <div class="row">
                            <input type="submit" class="btn btn-success col-md-4" value="Guardar" />
                            <div class="col-md-4"><br /></div>
                            <button type="button" class="btn btn-danger col-md-4 ">@Html.ActionLink("Cancelar", "ConsultarCliente", null, new { @class = "myclass" })</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            @{
                if (@ViewData["MensajeError"] != null)
                {
                    <p class="alert alert-danger"> @ViewData["MensajeError"]</p>
                }
            }
        </div>
    </div>
    <div class="col-sm-3"></div>
</body>
        <br />
        <br />
        <footer class="footer" style="background-color: #000000; color: #fafafa">
            <div>
                <br />
                <br />
                <p>© WYMAN SOLUTION 2019</p>
                <br />
                <br />
            </div>
        </footer>
}